@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@100;300;400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Navigation Styles */

nav {
    width: 100%;
    height: 75px;
    background-color: #fff;
    line-height: 75px;
    padding: 0px 80px;
}

nav .logo {
    float: left;
}

nav .logo p {
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: black;
    text-transform: uppercase;
}

nav ul {
    float: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 20px;
}

nav ul li a:hover {
    color: #D67D3E;
}

nav ul .active {
    color: #8B9A46;
}

.cart ion-icon {
    vertical-align: auto;
    font-size: 20px;
    padding-right: 5px;
}

/* Cart Styles */

.products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}

.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.products-container ion-icon {
    font-size: 20px;
    color: #8B9A46;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.price {
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.product ion-icon {
    cursor: pointer;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img {
    width: 70px;
}

.productTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.productTotalTitle {
    width: 30%;
}

.productTotal {
    width: 10%;
}


/* Footer Section Styles */
.footer {
    padding: 40px 0;
    background-color: #F7F7F7;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #8B9A46;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    width: 30px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover {
    opacity: 0.9;
    color: #D67D3E;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
}