@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@100;300;400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

/* Navigation Styles */
nav {
    width: 100%;
    height: 75px;
    background-color: #fff;
    line-height: 75px;
    padding: 0px 80px;
}

nav .logo {
    float: left;
}

nav .logo p {
    font-size: 34px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
    color: black;
    text-transform: uppercase;
}

nav ul {
    float: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 20px;
}

nav ul li a:hover {
    color: #D67D3E;
}

nav ul .active {
    color: #8B9A46;
}

.cart ion-icon {
    vertical-align: auto;
    font-size: 20px;
    padding-right: 5px;
}

/* Body & Form Styles */
body {
    background: white;
    font-size: 14px;

}

.container {
    width: 80%;
    margin: 50px auto;
}

.contact-box {
    background: #fff;
    display: flex;
}

.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right {
    flex-basis: 40%;
    padding: 40px;
    background: #F7F7F7;
}

h1 {
    margin-bottom: 10px;
}

.container p {
    margin-bottom: 40px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label {
    margin-bottom: 6px;
    display: block;
    color: #8B9A46;
}

button {
    background: #8B9A46;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}

.contact-left h3 {
    /*color: #8B9A46;*/
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-right h3 {
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child {
    padding-right: 20px;
}

tr td {
    padding-top: 20px;
}

/* Footer Section Styles */
.footer {
    padding: 10px 0;
    margin-top: auto;
    background-color: #F7F7F7;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #8B9A46;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    width: 30px;
    height: 30px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover {
    opacity: 0.9;
    color: #D67D3E;
}




