@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@100;300;400;500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

section {
    padding: 4rem 0 3rem;
}

/* Navigation Styles */
nav {
    width: 100%;
    height: 75px;
    background-color: #fff;
    line-height: 75px;
    padding: 0px 80px;
}

nav .logo {
    float: left;
}

nav .logo p {
    font-size: 34px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.6px;
    color: black;
    text-transform: uppercase;
}

nav ul {
    float: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 20px;
}

nav ul li a:hover {
    color: #D67D3E;
}

nav ul .active {
    color: #8B9A46;
}

#cart-icon {
    font-size: 1.4rem;
    cursor: pointer;
}

.cart ion-icon {
    vertical-align: auto;
    font-size: 20px;
    padding-right: 5px;
}

/* Cart Styles */

.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: white;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
}

.cart.active {
    right: 0;
}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.cart-product-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.cart-price {
    font-weight: 500;
}

.cart-quantity {
    border: 1px solid black;
    outline-color: black;
    width:2.5rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove {
    font-size: 20px;
    color: red;
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid black;
}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    margin-left: 0.5rem;
}

.btn-order {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: #8B9A46;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-order:hover {
    background: hsl(255, 2%, 69%);
}

#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: black;
    cursor: pointer;
}
.detail-box {
    display: grid;
    row-gap: 0.5rem;
}


/* Menu Styles */

.section-title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.price {
    font-weight: 500;
}

.add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #8B9A46;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.add-cart:hover {
    background: hsl(255, 2%, 69%);
}

.menu {
    margin-top: 2rem;
}

.shop-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
}

.meal-box {
    position: relative;
}

.meal-box:hover {
    padding: 10px;
    border: 1px solid #D67D3E;
    transition: 0.4s;
}

.meal-img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

/* Breakpoints / Making Responsive */
@media (max-width: 1080px) {
    .nav {
        padding: 15px;
    }
    section {
        padding: 3rem 0 2rem;
    }
    .container {
        margin: 0 auto;
        width:90%;
    }
    .shop {
        margin-top: 2rem !important;
    }
}

@media (max-width: 400px) {
    .nav {
        padding: 11px;
    }
    .logo {
        font-size: 1rem;
    }
    .cart {
        width: 320px;
    }
}


/* Footer Styles */

.footer {
    padding: 10px 0;
    margin-top: auto;
    background-color: #EEEEEE;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #8B9A46;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    width: 30px;
    height: 30px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover {
    opacity: 0.9;
    color: #D67D3E;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
}